{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "About us" %}{% endblock title %}
{% block description %}{% trans 'Online board games' %}{% endblock description %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1 class="mb-4"><wbr>{% trans "About us" %}</h1>
            <p>{% trans "Online board games" %}</p>
            <p>{% trans "Link to the repository:" %} <a href="https://bitbucket.org/voron-raven/games">https://bitbucket.org/voron-raven/games</a></p>
            <p>{% trans "Site owner:" %} <a href="https://www.linkedin.com/in/mykhailokeda/">Mykhailo Keda</a></p>
        </div>
    </div>
{% endblock content %}
