{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{{ rules.title }}{% endblock title %}

{% block content %}
  <div class="container">
    <div class="jumbotron bg-white">
      <h1 class="mb-4">{{ game.pk }}: <a class="text-dark" href="{% url 'core:new_game' rules.slug %}">{{ rules.title }}</a> ({{ players|join:" vs " }})</h1>
      {% include board_template %}
      <div id="info" class="mt-2 text-muted h4">
        <p class="waiting" style="{% if winner != None %}display: none;{% endif %}">{% trans "Waiting for" %} <a id="who_is_going_to_move" href="#">{{ user_turn }}</a> {% trans "move" %}</p>
        <p class="draw" style="{% if winner != -1 %}display: none;{% endif %}">{% trans "It's a draw. Game is over!" %}</p>
        <p class="winner" style="{% if winner == None or winner == -1 %}display: none;{% endif %}"><a id="winner" href="#">{{ winner }}</a> {% trans "win! Game is over!" %}</p>
        <p class="error text-danger" style="display: none;"></p>
      </div>
    </div>
  </div>
{% endblock content %}

{% block script %}
  {{ players|json_script:"game-players" }}
  {{ seat|json_script:"game-seat" }}
  {{ game.pk|json_script:"game-id" }}
  <script src="{% static 'js/game.js' %}"></script>
{% endblock script %}
