{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Games" %}{% endblock title %}

{% block content %}
  <div class="container">
    <div class="jumbotron bg-white games-container">
      <h1 class="mb-5">My games:</h1>
        {% for game in games %}
          <div class="game-item col-md-3 mb-5">
            <h2 class="mb-3"><a href="{% url 'core:game' game.game game.pk %}">{{ game.pk }}: {{ game.rules.title }}</a></h2>
            {% include game.game|add:".html" %}
          </div>
        {% endfor %}
    </div>
  </div>
{% endblock content %}
