{% extends 'base.html' %}
{% load static from staticfiles %}
{% load i18n %}

{% block title %}{% trans "Online board games" %}{% endblock title %}

{% block content %}
  <div class="container">
    <div class="games jumbotron bg-white">
    {% for game in games %}
      <div class="card">
        <img class="card-img-top" src="{% static 'img/'|add:game.classname|add:'.svg' %}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{% trans game.title %}</h5>
          <p class="card-text">{% trans game.description %}</p>
          <form action="{% url 'core:new_game' game.classname %}" method="post">
            {% csrf_token %}
            <label for="{{ game.classname }}-opponent">{% trans "Opponent" %}</label>
            <select id="{{ game.classname }}-opponent" name="opponent" class="form-control">
              {% for opponent in users %}
                <option value="{{ opponent.pk }}">{{ opponent.username }}</option>
              {% endfor %}
            </select>
            <button type="submit" class="btn btn-primary float-right mt-2">{% trans "Play" %}</button>
          </form>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
{% endblock content %}
